

body {
    background-color: #fff6da;
    margin-left: .5em;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #E0E0E0;
  border-width: 5px;

  width: 10%;

}
img {
    border-radius: 8px;
}

.pic {
    text-align: center;
}

.rinse-description {
    color: black;
    font-size: 12px;
    margin: -2px auto auto auto;
}
.describe {
  border: solid;
  border-color: #B6B6B6;
  border-width: 1.4px;
  width: 100%;
}

h1 { color: #042F4B;
}
h3 { color: #042F4B;}

strong { color: #042F4B;}

font {color: #042F4B;}

li { color: black;
    margin: -2px;}
p { color: #042F4B;
margin: auto 22.5px auto;}
center {color: #042F4B;}

p.footer-tabs {
  margin: -3px 5px;

/*img {border-radius: 75%;}*/
/*.circular{border-radius: 75%;}*/
